@model SquadClock.Models.RegisterViewModel 
@{
    ViewBag.Title = "Home Page";
}
@*Removed double jumbotron.*@
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Create a new account.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        //Removed extra input. Not needed for landing page. Submit button will take ApplicationUser directly into our system and ask them to fill out the remaining information. 
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Register" />
                            </div>
                        </div>}
            </div><!-- /col-lg-6 -->
            <div class="col-lg-6">
                <img class="img-responsive" src="~/Assets/ipad-hand.png" alt="The thing which you most love.">
            </div><!-- /col-lg-6 -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->
<div class="container">
    <hr />
    <h3>There are three different levels of users:</h3>
    <div class="row mt centered">
        <div class="row mt centered">
            <div class="row mt centered">
                <div class="col-md-4">
                    <span class="fa-stack fa-lg fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Owners</h4>
                    <p>Owners have access to all settings. They can manipulate pay, shifts, departments, managers, and employees. Life is easy when you have all the power!  </p>
                </div><!--/col-md-4 -->
                <div class="col-md-4">
                    <span class="fa-stack fa-lg fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Managers</h4>
                    <p>Managers can only control the employees assigned to them. They edit hours, create schedules. They run the business for the owner, or in some cases are the owner.</p>
                </div><!--/col-md-4 -->
                <div class="col-md-4">
                    <span class="fa-stack fa-lg fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>Employees</h4>
                    <p>These folks can clock in and out, and view their hours worked.<!--They and the data are one.--></p>
                </div><!--/col-md-4 -->
            </div><!-- /row -->
        </div>
    </div>
</div><!-- /row -->


<div class="container">
    <hr />
    <div class="row mt centered">
        <div class="col-lg-6">
            <img class="img-circle" src="~/Assets/HughHeadshot.jpg" width="140" alt="Hugh Jones">
            <h4>Hugh Jones</h4>
            <p>Hugh Jones is also the owner of a developer company called Libreworx and does mostly back-end coding.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
        </div><!--/col-lg-4 -->
        <div class="col-lg-6">
            <img class="img-circle" src="~/Assets/CarsonHeadshot.jpg" width="140" alt="">
            <h4>Carson Beam</h4>
            <p>Carson is a student at Appalachian State University, and mostly codes in  the front-end including javascript, and the like.</p>
            <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div><!-- /container -->
