@model mvcTesting0113.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>

        <dd>

            @*@if (@Html.DisplayFor(model => model.MediaURL) != null)
                
            {
                <div class="col-md-7"><p>@Html.DisplayFor(model => model.MediaURL)</p></div>
                <div class="col-md-5">
                    <img src="@Url.Content(Model.MediaURL)" class="img-responsive" alt="@Html.DisplayFor(model => model.MediaURL)" />
                </div>
            }
            else*@

                <div class="col-md-12"><p>@Html.DisplayFor(model => model.MediaURL)</p></div>

        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
