@model RecordStore.Models.Album

@{
    ViewBag.Title = "Album Details";
}

<h2>Album Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<table class="table table-striped">
    <tr>
        <th>
            Review Title
        </th>
        <th>
            Review Contents
        </th>
        <th></th>
    </tr>

    @foreach (var review in Model.Reviews)
    {
        <tr>
            <td>
                @review.Title, @review.CreatedDate.Date.ToShortDateString()
            </td>
            <td>
                @review.Contents
            </td>
            <td>
                <p>
                    @*Next line is to add a review to the album*@
                    @Html.ActionLink("Edit this Review", "Edit", "Reviews", new { id = review.Id }, null)
                </p>
            </td>
        </tr>
    }

</table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
